:root {
  --coral: #f05d5e;
  --teal: #0f7173;
  --light: #e7ecef;
  --dark: #272932;
  --camel: #d8a47f;
}

body {
  background-color: var(--light);
}

.card {
  padding: 10px;
  margin: 10px;
}

img {
  width: 250px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}
h1 {
  font-size: 2.25rem;
}
.card p {
  font-size: 1rem;
}
.cat-name {
  font-size: 2.25rem;
}

.content {
  font-size: 1.5rem;
}
@media (min-width: 700px) {
  p {
    font-size: large;
  }

  .cat-ipsum {
    display: none;
  }
}
@media (min-width: 700px) and (orientation: landscape) {
  .card p {
    font-size: 1.2rem;
  }

  .cat-ipsum {
    display: block;
  }
}
@media (min-width: 1000px) and (orientation: landscape) {
  .card p {
    font-size: 1.4rem;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark);
    color: var(--light);
  }
}
